<div class="layout-container">
    <header class="layout-header">
        <!--Posteriormente se carga el componente headercomponent-->
        header
    </header>

    <main class="layout-main">
        <!--contenido principal-->
        <aside class="layout-sidebar">
            Sidebar
            <!--Posteriormente se carga el componente sidebarcomponent-->
        </aside>  
        <!--Contenido dinamico-->     
         <section class="layout-content">
            <!--Aqui va los componente de dashboard-->
            Router-Outlet
         </section>
    </main>
    <footer class="layout-footer">
        <!--componente de footer-->
        footer
    </footer>
</div>
